@import "tailwindcss";

:root {
  color-scheme: light;
  color: #111; /* chữ tối */
  background-color: #f9f9f9; /* nền sáng */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  @apply leading-relaxed tracking-wide font-bold bg-white text-black;
}
